html
html
	head
		title index
		link(rel="stylesheet",type="text/css", href='/style/index_style.css')
	body
		h1 Welcome to the Product Management System
		br
		br
		h1
			a(href=login_url) Login
		br
		h1
			a(href=signup_url) Signup