body
{
	width:90%;
	margin:auto;
	font-family: sans-serif;
	background-image: url('../img/formbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	background-repeat: repeat-y;
	background-color: aliceblue;
}
h1
{
	text-align: center;
	margin-top: 50px;
	color:darkcyan;
	font-weight: bolder;
}
input, select, textarea
{
	  width: 40%;
	  padding: 12px 20px;
	  margin: 10px 900px 10px 10px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	   align-items: right;
	  box-sizing: border-box;
}
textarea
{ 
  height: 150px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
}
option
{
	font-size:1.2em;
}
label
{
	font-size:1.5em;
	text-transform:capitalize;
	color:cadetblue;
	font-weight: bold;
	margin: 10px;
}
a
{
	text-decoration: none;
	font-size:1.2em;
    text-transform: uppercase;
    color:cadetblue;
	font-weight: bold;
	margin: 10px;
}
button
{
	font-size:1.2em;
	margin: 10px;
	background-color: cadetblue;
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-decoration: none;
	  cursor: pointer;
}
p
{
	font-weight: bold;
	color:cadetblue;
	font-size:1.2em;
	margin: 10px;
}